<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un tournoi</title>
    
</head>
<body>
    <br>
    <h1>Retirer jeu</h1>
    <br>
    <form (ngSubmit)="retirerJeux()" class="centered-button" style="width: 65%; height: auto; border: 3px solid black; padding: 0.5vw; background-color: rgba(255, 255, 255, 0.8);">
        <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="border: 1px solid black; padding: 10px;">ID Stock</th>
                    <th style="border: 1px solid black; padding: 10px;">Nom du Jeu</th>
                    <th style="border: 1px solid black; padding: 10px;">Prix Demandé</th>
                    <th style="border: 1px solid black; padding: 10px;">Sélection</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jeu of jeux">
                    <td style="border: 1px solid black; padding: 10px;">{{ jeu.id_stock }}</td>
                    <td style="border: 1px solid black; padding: 10px;">{{ jeu.nom_jeu }}</td>
                    <td style="border: 1px solid black; padding: 10px;">{{ jeu.Prix_unit }}€</td>
                    <td style="border: 1px solid black; padding: 10px;">
                        <label style="display: inline-flex; align-items: center;">
                            <input type="checkbox" (change)="updateSelection(jeu)" style="width: 2vh; height: 2vh; margin-right: 10px;">
                            <span style="width: 20px; height: 20px; border: 2px solid black; display: inline-block; position: relative;">
                                <span style="position: absolute; left: 5px; top: 0; width: 8px; height: 15px; border: solid black; border-width: 0 3px 3px 0; transform: rotate(45deg); display: none;"></span>
                            </span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <input type="submit" value="Retirer les jeux sélectionnés" style="width: 100%; height: 10vh; font-size: 3.5vw; display: block; margin: 0 auto; text-align: center;">
    </form>

    <a href="/retrait" id="back-to-top">
        <img src="IMAGE/retour.png" alt="Retour" style="width: 100%; height: 100%;">
    </a>
</body>

</html>
