<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de Connexion - Instagram Style</title>
  
</head>
<body>
    <div class="container">
        <div class="carousel">
            <!-- Insérer vos images de carrousel ici -->
            <!-- Remplacez "image1.png" et "image2.png" par les liens de vos images -->
            <img src="IMAGE/image1.PNG" alt="Image 1">
            <img src="IMAGE/image2.PNG" alt="Image 2">
        </div>
        <div class="login-form-container">
            <div class="login-form">
                <h1>BoardLand</h1>
                <div style="text-align: center;">
                            <img src="IMAGE/lock.PNG" style="width: 17%;" alt="Image 2">
                                <p><strong>Confirmation de l'email</strong></p>
                                <p style="color: #a9a9a9;font-size:10px;">Afin de s'assurer qu'il s'agit bien de votre adresse email veuillez entrez le code que vous venez de recevoir par e-mail, .<p>
                            
                        </div>
                <form (ngSubmit)="onSubmit()"> <!-- Enlève $event ici -->
                    <input type="hidden" [(ngModel)]="email" name="email" required>
                    <input type="text" [(ngModel)]="code_recu" name="code_recu" placeholder="Code reçu par mail" required>
                    <br><br>
                    <button type="submit">Vérifier</button>
                </form>




                             
                <br>
                    <div class="divider">
                        <span class="or-text">OU</span>
                    </div>
                                    <br>
                    <a href="/menu" class="password-reset-link" style="color: #a9a9a9;"> Mode Invité</a>
            
                <!-- End if "menu" -->
                
            </div>
           
        </div>
    </div>
                        
    <footer>
        Barbedet Anthony & Delclaud Corentin production | Polytech school | © 2024 Boardland
    </footer>
       

    <script>
        // Fonction pour faire défiler les images automatiquement dans le carrousel
        let currentIndex = 0;
        const images = document.querySelectorAll('.carousel img');
        
        setInterval(() => {
            images[currentIndex].style.opacity = 0; // Masquer l'image actuelle
            currentIndex = (currentIndex + 1) % images.length; // Passer à l'image suivante
            images[currentIndex].style.opacity = 1; // Afficher la nouvelle image
        }, 5000); // Changer d'image toutes les 5 secondes
    </script>
    <a href="/connexion" id="back-to-top">
<img src="IMAGE/retour.png" alt="Retour" style="width: 100%; height: 100%;">
</a>
</body>
</html>

