<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu avec iframe</title>
</head>
<body>
    <div class="navbar-top">
        <img src="IMAGE/logo.PNG" alt="Logo">
        <h1>Boardland</h1>
        <div class="navbar-buttons-container">
            <div *ngIf="emailConnecte === 'invite@example.com'; else loggedIn">
                <div class="navbar-buttons-title">{{ emailConnecte }}</div>
                <div class="navbar-buttons">
                    <a href="/connexion" target="content-frame">
                        <button>Se connecter</button>
                    </a>
                    <a href="/inscription" target="content-frame">
                        <button>S'inscrire</button>
                    </a>
                    
                </div>
            </div>

            <ng-template #loggedIn>
                <div class="navbar-buttons-title">{{ emailConnecte }}</div>
                <div class="navbar-buttons">
                    <a href="/root">
                        <button>Déconnexion</button>
                    </a>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="main">
        <div class="sidebar-left">
            <div class="sidebar-section">
                <br>
                <h3><a href="/acceuil" target="content-frame">ACCEUIL</a></h3>
                <br>
                <h3><a href="/catalogue" target="content-frame">CATALOGUE</a></h3>
                <br>
                <h3><a href="/contact" target="content-frame">CONTACT</a></h3>
                <br>
            </div>

            <div class="sidebar-section" *ngIf="role === 'admin'">
              
                    <h3><a href="/depot" target="content-frame">GESTIONNAIRE</a></h3>
                    <ul>
                        <li><a href="/depot" target="content-frame">Dépot</a></li>
                        <li><a href="/retrait" target="content-frame">Retrait</a></li>
                        <li><a href="/mise_en_vente" target="content-frame">Mise en vente </a></li>
                        <li><a href="/enregistrer_achat" target="content-frame">Enregister Achat</a></li>
                        <li><a href="/check_achat" target="content-frame">Historique Achat</a></li>
                        <li><a href="/bilan" target="content-frame">Bilan</a></li>
                    </ul>
            
                <h3><a href="/contact" target="content-frame">ADMIN</a></h3>
                <ul>
                    <li><a href="/R2" target="content-frame">Creer Session</a></li>
                    <li><a href="/R3" target="content-frame">Edit Session</a></li>
                    <li><a href="/R4" target="content-frame">Gestion User</a></li>
                </ul>
            </div>

            <div class="sidebar-section" *ngIf="role === 'gestionnaire'">
                <h3><a href="/depot" target="content-frame">GESTIONNAIRE</a></h3>
                <ul>
                    <li><a href="/depot" target="content-frame">Dépot</a></li>
                    <li><a href="/retrait" target="content-frame">Retrait</a></li>
                    <li><a href="/mise_en_vente" target="content-frame">Mise en vente </a></li>
                    <li><a href="/enregistrer_achat" target="content-frame">Enregister Achat</a></li>
                    <li><a href="/check_achat" target="content-frame">Historique Achat</a></li>
                    <li><a href="/bilan" target="content-frame">Bilan</a></li>
                </ul>
            </div>

            <div class="sidebar-section" *ngIf="role === 'vendeur'">
                <h3><a href="/contact" target="content-frame">VENDEUR</a></h3>
                <ul>
                    <li><a href="/R1" target="content-frame">MES JEUX</a></li>
                </ul>
            </div>
            <br>
        </div>
        
        <div class="content">
            <iframe id="content-frame" name="content-frame" src="/acceuil"></iframe>
        </div>
    </div>
</body>
</html>


