<div *ngIf="reponse === 'aucune'" class="message-erreur-overlay">
  <div class="message-erreur">
    <p>Aucun graphe ne peut être effectué, aucune vente réalisée pour cette situation.</p>
  </div>
  <a href="/vendeur" id="back-to-top">
    <img src="IMAGE/retour.png" alt="Retour" style="width: 100%; height: 100%;">
  </a>
</div>


  <div class="bilan-graphe-container">
    <!-- Titre -->
    <h2 class="bilan-title">BILAN FINANCIER</h2>
    <br>
    <h2 style="text-align: center;"> Les bénéfices engendrées</h2>

    <!-- Graphique linéaire -->
    <canvas id="canvas" class="chart"></canvas>
    <p style="text-align: center;">Quand la courbe de bénéfice se trouve en haut de la droite jaune, vous êtes bénéficiaire.</p>
    
    <!-- Graphique en camembert -->
    <h2 style="text-align: center;"> La quantité vendue</h2>
    <canvas id="pieChart" class="small-chart"></canvas>

    <!-- Affichage du ratio -->
    <div class="ratio-display">
      <h3>TAUX DE ROTATION DES STOCKS :</h3>
      <p id="ratioDisplay">{{ ratioDisplay }}</p>
    </div>
  </div>
  <a href="/vendeur" id="back-to-top">
    <img src="IMAGE/retour.png" alt="Retour" style="width: 100%; height: 100%;">
  </a>



