/* Assure le fond sur toute la fenêtre */
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Couleur de fond gris clair */
}

/* Conteneur principal pour le contenu */
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Style pour centrer le titre */
.filter-title {
    font-size: 5vw;
    text-align: center;
    margin: 0 auto;
}

.info-button,
.star-button {
    margin-left: 0px;
    margin-right: 0px;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Styles pour les éléments spécifiques */
.cash-prize {
    background-color: #FFDE0A;
}

/* Styles de la boîte modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Style pour le bouton de retour */
#back-to-top {
    position: fixed;
    top: 1px;
    left: 1px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#back-to-top:hover {
    transform: scale(1.1);
}

/* Styles de recherche et réglage */
#search-button {
    width: 5%;
    height: 5.7vh;
    background: url('IMAGE/rechercher.PNG') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#reglage-button {
    width: 5%;
    height: 5vh;
    background: url('IMAGE/reglage.PNG') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
}

#catalogue {
    margin-top: 10%;
    text-align: center;
    padding: 20px;
}

.card {
    display: inline-block;
    background-color: white;
    width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1); /* Agrandir la carte de 10% lorsqu'elle est survolée */
    z-index: 10; /* Assurez-vous que la carte survolée se place au-dessus des autres */
}
.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.card-content h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.card-content p {
    margin: 5px 0;
}
.no-link-style {
    text-decoration: none; /* Supprime le souligné */
    color: inherit; /* Hérite de la couleur du texte environnant */
    font-weight: normal; /* Assure que le texte n'est pas en gras */
}

.no-link-style:hover {
    text-decoration: none; /* Supprime le souligné au survol */
    color: inherit; /* Maintient la couleur lors du survol */
}