<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un tournoi</title>
    
</head>
<body>
    <br>

    <br>
    <form #preinscriptionForm="ngForm" (ngSubmit)="onSubmit(preinscriptionForm)" class="centered-button" style="width: 65%; height: auto; border: 3px solid black; padding: 0.5vw; background-color: rgba(255, 255, 255, 0.97);">
        <br>
        <h1>PREINSCRIRE</h1>
        <br>

        <label for="email">Email :</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required style="width: 50%;" />

        <br><br>

        <label for="role">Rôle :</label>
        <select id="role" [(ngModel)]="role" name="role" required class="custom-select" style="width: 50%;">
            <option value="" disabled selected>Choisissez un rôle</option>
            <option value="vendeur">Vendeur</option>
            <option value="admin">Admin</option>
            <option value="acheteur">Acheteur</option>
            <option value="gestionnaire">Gestionnaire</option>
        </select>

        <br><br>

        <button type="submit" style="width: 100%; height: 10vh; font-size: 3.5vw; display: block; margin: 0 auto; text-align: center;">PREINSCRIRE</button>
    </form>

</body>
<!-- Notification -->
<div class="notification" *ngIf="showNotification">
    <button class="close-btn" (click)="closeNotification()">&times;</button>
    La préinscription a été enregistrée avec succès.
</div>
</html>
