<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changer Mot de Passe</title>
</head>
<body>

<div class="container">
    <div class="carousel">
        <img src="IMAGE/image1.PNG" alt="Image 1">
        <img src="IMAGE/image2.PNG" alt="Image 2">
    </div>
    <div class="login-form-container">
        <div class="login-form">
            <h1>Changer mot de passe</h1>
            
            <form [formGroup]="changerMdpForm" (ngSubmit)="onSubmit()">
                <input type="hidden" formControlName="email_mdp" required> <!-- Champ caché pour l'email -->
                <div>
                
                    <input type="password" id="new_password" formControlName="new_password" placeholder="Nouveau Mot de passe" required>
                </div>
                <div>
                    
                    <input type="password" id="confirm_password" formControlName="confirm_password" placeholder="Confirmation mot de passe" required>
                </div>
                <p id="error" style="color: red; font-size: 12px;">{{ error }}</p> <!-- Affichage de l'erreur -->
                <button type="submit" name="register" value="Valider">Valider Changement</button>
            </form>
            <div class="divider">
                <span class="or-text">OU</span>
            </div>
            <br><br>
            <a href="/connexion" class="signup-link">Retour menu Connexion</a>
        </div>
    </div>
</div>
<footer>
    Barbedet Anthony & Delclaud Corentin production | Polytech school | © 2024 Boardland
</footer>
<!-- Notification -->

<div class="notification" *ngIf="showNotification">
    <button class="close-btn" (click)="closeNotification()">&times;</button>
    {{ notificationMessage }}
</div>


</body>
</html>
