<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un tournoi</title>
    
</head>
<body>
    <br>

    <br>
    <form (ngSubmit)="onSubmit()" class="centered-button" style="width: 65%; height: auto; border: 3px solid black; padding: 0.5vw; background-color: rgba(255, 255, 255, 0.97);">
        <br>
        <h1>ENREGISTRER UN ACHAT</h1>
        <br>
        <label for="id_stock" >ID Stock :</label>
        <input type="number" id="id_stock" [(ngModel)]="id_stock" name="id_stock" style="width: 15%;" required />
        <br><br>
        <label for="quantite_vendu">Quantité Vendue : </label>
        <input type="number" id="quantite_vendu" [(ngModel)]="quantite_vendu" name="quantite_vendu" style="width: 15%;" required />

        <br><br>
        <button type="submit" style="width: 100%; height: 10vh; font-size: 3.5vw; display: block; margin: 0 auto; text-align: center;">Confirmer l’achat</button>
    </form>
</body>
<!-- Notification -->
<div class="notification" *ngIf="showNotification">
    <button class="close-btn" (click)="closeNotification()">&times;</button>
    Votre jeu a été enregistré.
</div>
</html>
