<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un tournoi</title>
    
</head>
<body>
    <br>
    <br>
    <form (ngSubmit)="onSubmit()" class="centered-button" style="width: 65%; height: auto; border: 3px solid black; padding: 0.5vw; background-color: rgba(255, 255, 255, 0.97);">
        <br>
        <h1>PAYER UN VENDEUR</h1>
        <br>
        <input type="email" placeholder="Email du vendeur ..." [(ngModel)]="emailVendeur" name="emailVendeur" required />
              <br><br>
        <button type="submit" style="width: 100%; height: 10vh; font-size: 3.5vw; display: block; margin: 0 auto; text-align: center;">Voir Historique des achats </button>
    </form>
</body>

</html>
