#back-to-top {
            position: fixed;
            top: 20px;
            left: 20px;
            width: 50px;
            height: 50px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }
        #back-to-top:hover {
            transform: scale(1.1);
        }
.product-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.product-image {
    flex: 1;
    padding-right: 20px;
    max-width: 40%;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.product-info h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 1.2em;
    margin: 5px 0;
}

.product-info strong {
    font-weight: bold;
}
h1 {
    text-align: center;
    font-size: 2.5em; /* Optionnel, pour rendre le titre plus grand */
    color: #333; /* Optionnel, pour changer la couleur du texte */
}