<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Produit</title>
    
</head>

<body>
    <br>
    <h1>DETAIL DU PRODUIT </h1>
    <br>
    <br>
    <!-- Affichage uniquement si le produit existe -->
    <div class="product-container" *ngIf="product">
        <div class="product-image">
            <!-- Lien dynamique de l'image du produit -->
            <img [src]="'http://localhost:3000' + product.photo_path" alt="Image du jeu {{ product.nom_jeu }}"/>
        </div>

        <div class="product-info">
            <h1>{{ product.nom_jeu }}</h1>
            <p><strong>N°article:</strong> {{ product.id_stock }}</p>
            <p><strong>Prix:</strong> {{ product.Prix_unit }} €</p>

            <!-- Affichage de l'éditeur si non nul -->
            <p *ngIf="product.editeur"><strong>Éditeur:</strong> {{ product.editeur }}</p>

            <!-- Affichage de la description si non nul -->
            <p *ngIf="product.description"><strong>Description:</strong> {{ product.description }}</p>
        </div>

    </div>
    <a href="/catalogue" id="back-to-top">
<img src="IMAGE/retour.png" alt="Retour" style="width: 100%; height: 100%;">
</a>
</body>

</html>
