<!DOCTYPE html>
<html>
<head>
    <title>Liste des tournois</title>
    
</head>
<body>
        
        <h1>MON TABLEAU DE BORD</h1>

    <div class="main-container">
        <!-- Catalogue des jeux en vente -->
       
       <h2>VOIR BILAN PERSONNEL</h2>
       <form class="form-group">
           <div class="switch-container">
             <label for="sessionParticuliere">Toutes les sessions</label>
             <label class="switch">
               <input
                 type="checkbox"
                 [(ngModel)]="sessionParticuliere"
                 name="sessionParticuliere"
                 (change)="toggleSwitch()"
               />
               <span class="slider"></span>
             </label>
             <label>&nbsp;Session particulière</label>
           </div>

           <div *ngIf="sessionParticuliere" style="margin-left: 15%; width: 80%">
             <input
               type="number"
               id="numeroSession"
               name="numeroSession"
               [(ngModel)]="numeroSession"
               
               placeholder="Entrez le numéro de session"
             />
           </div>

           <div *ngIf="!sessionParticuliere">
             <br /><br />
           </div>


         <input
           type="number"
           id="chargesFixes"
           name="chargesFixes"
           [(ngModel)]="chargesFixes"
           style="margin-left: 2%; width: 80%"
           placeholder="Entrez les charges fixes"
         />
         <br><br>

         <button (click)="viewBilan()" style="margin-left: 2%; width: 80%">
           Voir le Bilan
         </button>
       </form>
       <h2>MES JEUX VENDUS</h2>

       <!-- Vérification si les jeux vendus sont vides -->
       <div *ngIf="soldGames.length === 0" style="text-align: center; font-size: 1.5em; color: #888;">
           Vous n'avez pas encore vendu de jeux.
       </div>

       <div *ngIf="soldGames.length > 0">
           <div id="sold-games">
               <div *ngFor="let soldGame of soldGames" class="card">
                   <h2>{{ soldGame.nom_jeu }}</h2>
                   <img [src]="'http://localhost:3000' + soldGame.photo_path" alt="Image du jeu {{ soldGame.nom_jeu }}" class="card-image" />
                   <div class="card-content">
                       <p>Prix : {{ soldGame.Prix_unit }} €</p>
                       <p>Quantité vendue : {{ soldGame.Quantite_vendu }}</p>
                   </div>
               </div>
           </div>
       </div>
  
        <div id="catalogue">
            <h2>MES JEUX DEPOSES</h2>
            
            <!-- Vérification si le catalogue est vide -->
            <div *ngIf="games.length === 0" style="text-align: center; font-size: 1.5em; color: #888;">
                Vous n'avez pas encore déposé de jeux en vente.
            </div>

            <div *ngIf="games.length > 0">
                <div *ngFor="let game of games" class="card">
                    <a [routerLink]="['/detail-article', game.id_stock]" class="no-link-style">
                        <h2>{{ game.nom_jeu }}</h2>
                        <img [src]="'http://localhost:3000' + game.photo_path" alt="Image du jeu {{ game.nom_jeu }}" class="card-image" />
                        <div class="card-content">
                            <p>N°article : {{ game.id_stock }}</p>
                            <p>------------------------</p>
                            <p>{{ game.prix_final }} €</p>
                            <p>Est en vente : {{ game.est_en_vente_label }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
  
    </div>
